﻿@model Web.Models.IndexVM

@{
    ViewBag.Title = "Index";
}
<br />

@if (Model.ItemsAddedToCartCount > 0 && String.IsNullOrEmpty(Request.Params["err"]))
{
    <p>
        <a href="/Store/GetInvoice">Generate invoice! <span class="badge">@Model.ItemsAddedToCartCount</span></a>
    </p>
}
@if (!String.IsNullOrEmpty(Request.Params["err"]) && Request.Params["err"].Equals("1"))
{
    <h4>
        <span class="label label-danger">Could not generate invoice!</span>
    </h4>
}
<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Time span (days)</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Products)
    {
        <tr>
            <td>
                @Html.DisplayFor(Model => item.Name)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Type)
            </td>
            <td>
                @Html.DisplayFor(Model => item.TimeSpan)
            </td>
            <td>@Html.ActionLink("Add to cart", "AddToCart", new { id = item.Id })</td>
        </tr>
    }
</table>
